[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Elicit
GenericName=Color picker
GenericName[az]=Rəng seçici
GenericName[bg]=Средство за избиране на цвят
GenericName[bn]=রঙ চয়নকারী
GenericName[ca]=Selector de colors
GenericName[cs]=Výběr barvy
GenericName[da]=Farvevælger
GenericName[de]=Farbwähler
GenericName[el]=Επιλογέας χρώματος
GenericName[eo]=Kolorkolektilo
GenericName[es]=Selector de color
GenericName[et]=Värvivalija
GenericName[fi]=Värinvalitsija
GenericName[fr]=Pipette à couleurs
GenericName[hi]=रंग चुनने वाली मशीन
GenericName[hr]=Birač boja
GenericName[hu]=Színválasztó
GenericName[id]=Pemilih warna
GenericName[it]=Color Picker
GenericName[ja]=カラーピッカー
GenericName[ko]=색상 선택기
GenericName[lt]=Spalvų rinkiklis
GenericName[lv]=Krāsu atlasītājs
GenericName[ms]=Pemilih warna
GenericName[nb]=Fargevelger
GenericName[nl]=Kleur kiezer
GenericName[no]=Fargevelger
GenericName[pl]=Narzędzie do wybierania kolorów
GenericName[pt]=Seletor de cores
GenericName[ro]=Selector de culoare
GenericName[sk]=Výber farieb
GenericName[sl]=Izbirnik barv
GenericName[sr]=Бирач боја
GenericName[sv]=Färgväljare
GenericName[te]=రంగు ఎంపిక
GenericName[tl]=Tagapili ng kulay
GenericName[tr]=Renk seçici
GenericName[uk]=Вибір кольору
GenericName[vi]=Bộ chọn màu
GenericName[zh]=选色器
Comment=Color picker and screen magnifer
Comment[az]=Rəng seçici və ekran böyüdücü
Comment[bg]=Избор на цвят и екранна лупа
Comment[bn]=কালার পিকার এবং স্ক্রিন ম্যাগনিফায়ার
Comment[ca]=Selector de color i lupa de pantalla
Comment[cs]=Výběr barvy a lupa obrazovky
Comment[da]=Farvevælger og skærmlup
Comment[de]=Farbwähler und Bildschirmlupe
Comment[el]=Επιλογέας χρώματος και μεγεθυντικός φακός οθόνης
Comment[eo]=Kolorelektilo kaj ekrana lupeo
Comment[es]=Selector de color y lupa de pantalla.
Comment[et]=Värvivalija ja ekraani luup
Comment[fi]=Värinvalitsin ja näytön suurennuslasi
Comment[fr]=Sélecteur de couleurs et loupe d'écran
Comment[hi]=रंग बीनने वाला और स्क्रीन आवर्धक
Comment[hr]=Birač boja i povećalo zaslona
Comment[hu]=Színválasztó és képernyőnagyító
Comment[id]=Pemilih warna dan kaca pembesar layar
Comment[it]=Selettore colore e lente d'ingrandimento dello schermo
Comment[ja]=カラーピッカーと画面拡大鏡
Comment[ko]='색상 선택기 및 화면 돋보기'
Comment[lt]=Spalvų rinkiklis ir ekrano didintuvas
Comment[lv]=Krāsu atlasītājs un ekrāna palielinātājs
Comment[ms]=Pemilih warna dan pembesar skrin
Comment[nb]=Fargevelger og skjermforstørrelsesglass
Comment[nl]=Kleurkiezer en schermvergroter
Comment[no]=Fargevelger og skjermforstørrelsesglass
Comment[pl]=Próbnik kolorów i lupa ekranowa
Comment[pt]=Seletor de cores e ampliador de tela
Comment[ro]=Selector de culoare și lupă de ecran
Comment[sk]=Výber farieb a lupa obrazovky
Comment[sl]=Izbirnik barv in povečevalnik zaslona
Comment[sr]=Бирач боја и лупа екрана
Comment[sv]=Färgväljare och skärmförstorare
Comment[te]=కలర్ పికర్ మరియు స్క్రీన్ మాగ్నిఫైయర్
Comment[tl]=Tagapili ng kulay at screen magnifier
Comment[tr]=Renk seçici ve ekran büyüteci
Comment[uk]=Вибір кольору та екранна лупа
Comment[vi]=Bộ chọn màu và kính lúp màn hình
Comment[zh]=颜色选择器和屏幕放大镜
Icon=elicit
TryExec=elicit
Exec=elicit
Terminal=false
StartupWMClass=Elicit
Categories=ENLIGHTENMENT;Applications;Graphics
