[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Elicit
GenericName=Color picker
GenericName[cs]=Kapátko / Lupa
GenericName[eo]=Kolorelektilo
GenericName[it]=Prelevatore colore
Comment=Color picker and screen magnifer
Comment[cs]=Kapátko a lupa
Comment[eo]=Kolorelektilo, permesas elpreni koloron en la videblaj fenestroj.
Icon=elicit
TryExec=elicit
Exec=elicit
Terminal=false
StartupWMClass=Elicit
Categories=ENLIGHTENMENT;Applications;Graphics
